.hr {
  color: white;
}

.outerContainer {
  padding: 0.5% 0rem;
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  width: 90%;
  margin: auto;
  padding: 0.2%;
  display: flex;
  flex-direction: column;
}

.container div {
  color: white;
}

.image {
  padding: 5rem 0rem;
}
.imageMobile {
  display: none;
}

.image:hover {
  cursor: pointer;
}

.footerLinks {
  margin-bottom: 1%;
  font-size: 10pt;
}

.footerLinks span {
  margin-right: 2%;
}

.footerLinks span a {
  color: white;
  text-decoration: none;
}

.footerLinks span:nth-child(2n + 3):hover {
  cursor: pointer;
  text-decoration: underline;
}

.footerLinksMobile {
  display: none;
}

@media screen and (max-width: 390px) {
  .image {
    display: none;
  }
  .imageMobile {
    display: block;
    margin-top: 20%;
  }

  .footerLinks {
    display: flex;
    flex-wrap: wrap;
  }

  .footerLinks > span:nth-child(-n + 2) {
    display: none;
  }

  .footerLinksMobile {
    display: block;
    margin: 5% 0% 8% 0%;
    font-size: 10pt;
    color: grey;
  }
}
